<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="Manager Mensa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.RegistrazioneActivity"
            android:exported="false" />

        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AllergieActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrenotazioniActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AvvisiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SegnalazioniActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAt0fRvRTvChLB3Ya6bQ0BHCPVVFuYxVvY" />

        <activity
            android:name=".activity.InfomensaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AccessoActivity"
            android:exported="false" />
    </application>

</manifest>